.classes {
	.title-bar {
		margin-top: 0;
		padding: 10px 40px;
	}

	.title-bar h1 {
		margin-top: 10px;
		font-size: 28pt;
		line-height: 1.2em;
	    font-weight: lighter;
	}

	.class-listing {
		padding: 20px 40px;
		border-bottom: 1px solid #c3c3c3;
		font-size: 12pt;
		line-height: 1em;

		min-height: 101px;

		.class-details {
			width: 250px;

			.class-name {
				font-weight: lighter;
				font-size: 18pt;
			}
		}

		.studio-details {

			.studio-name {
				font-weight: lighter;
				font-size: 14pt;
			}

			.studio-address {

			}

			.studio-link {
				color: #6990ff;
				text-decoration: underline;
			}
		}
	}

	.studio-photo {
		height: 100px;
		margin: 0;
		padding: 0;
	}

	.studio-photo img {
		height: 100px;
	}

	.end-of-listing {
		padding: 20px;
		text-align: center;
		font-weight: bold;
		color: #a0a0a0;
	}
}