* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-color: #936400;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #f7f7f7;
    font-size: 12pt;
}

.container {
    margin-bottom: 20px;
}

.headline {
    font-size: 36pt;
    font-weight: normal;
    line-height: 1.2em;
}

.tagline {
    margin-top: 20px;
    font-size: 12pt;
}

.circle-btn {
    display: block;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.crown-chakra {
    background-color: #cc7dff;
}

.temple-chakra {
    background-color: #8091ff;
}

.throat-chakra {
    background-color: #80dedf;
}

.heart-chakra {
    background-color: #80ff97;
}

.solar-plexus-chakra {
    background-color: #fffa80;
}

.sacral-chakra {
    background-color: #8091ff;
}

.root-chakra {
    background-color: #ff8080;
}
